body {
  background: #006666;
  color: #FFFF00;
}

#divGame {
  box-sizing: border-box;
  position: relative;
  background: #00FF66;
  color: #000000;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
}

#divTask {
  background: #00AA66;
  color: #000000;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
}

#divPoints {
  box-sizing: border-box;
  float: left;
  padding-top:  5px;
}

#divCoin {
  box-sizing: border-box;
  float: left;
  padding-left:  5px;
}

#divScore {
  box-sizing: border-box;
  background: #FF0000;
  color: #FFFF00;
  width: 120px;
  height: 100px;
  border-radius: 10px;
  float:     right;
  vertical-align: top;
  text-align: center;
  font-size: 35px;
  padding-top:  25px;
  padding-left:  30px;
  margin-left: 0px;
}

#divPicture1 {
  box-sizing: border-box;
  padding-left: 120px;
}

#divPicture2 {
  display : none;
  box-sizing: border-box;
  padding-left: 120px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
